@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  padding: 0 5px;
  max-width: 960px;
  min-height: 100%;
  font-family: "Comfortaa", cursive;
  color: #f4f4f4;
  z-index: 10;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 150px;
  border-bottom: 10px solid #141414;
  border-top: 10px solid #141414;
  position: relative;
  background: #3b3b3b;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b3b3b), to(#191919));
  background: linear-gradient(180deg, #3b3b3b 0%, #191919 100%);
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logo__heading {
  font-size: 3rem;
  font-weight: 300;
}
.logo__description {
  line-height: 1.4rem;
  font-size: 0.6rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #707070;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  position: relative;
  top: 10%;
  left: 107px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}
.nav__link {
  margin-left: 10px;
  font-size: 12px;
}
.nav__link::after {
  content: "|";
  margin-left: 6px;
  color: #707070;
}
.nav__link:last-child:after {
  display: none;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 89px;
  background-color: #212121;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  width: 100%;
  font-size: 0.7rem;
}
.search__input {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.search__input input {
  width: 100%;
  height: 30px;
  background-color: #101010;
  border-radius: 10px;
  border: none;
}
.search__input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 95%;
  color: "#fff";
  -webkit-transform: translate(-95%, -50%);
          transform: translate(-95%, -50%);
  background-color: red;
  width: 20px;
  height: 20px;
  background: url("../static/search.png") center center/cover no-repeat;
  -webkit-filter: contrast(3);
          filter: contrast(3);
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.search .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
.navigation {
  min-width: 100%;
  height: 44px;
  background-color: #2a2a2a;
}
.navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navigation .navigation__item {
  font-size: 1rem;
  margin: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: #9c9c9c;
}

.content {
  width: 100%;
  min-height: 100vh;
  background: #2f2f2f;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  width: 257px;
  height: 250px;
  background: #1f1f1f;
  margin: 10px 25px;
}
.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #131313;
}
.card__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.card__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__comments img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.card__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__photo {
  margin: 10px;
}
.card__footer {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__star-active img {
  width: 15px;
  height: 15px;
}
.card__start-inactive img {
  width: 15px;
  height: 15px;
}
.card__comment {
  margin-left: 25px;
  color: #5d5d5d;
  font-size: 12px;
}

.pagination {
  width: 100%;
  height: 60px;
  background-color: #2a2a2a;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.pagination__text {
  margin-left: 25px;
}
.pagination__nav {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pagination__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 27px;
  font-size: 12px;
  background-color: #131313;
  margin-right: 10px;
  border-radius: 5px;
  color: #707070;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #212121;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textBlock__header {
  font-size: 26px;
  padding-bottom: 20px;
}
.textBlock__link {
  color: #5d5d5d;
}

.underfooter {
  width: 100%;
  height: 50px;
  background-color: #101010;
}

.sharedBlock__header {
  font-size: 26px;
  padding-bottom: 20px;
}
.sharedBlock__message {
  width: 250px;
  height: 110px;
  border-radius: 20px;
  background-color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-size: 12px;
}
.underfooter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #5d5d5d;
}

@media (max-width: 960px) {
  .search {
    display: none;
  }

  .nav {
    width: auto;
  }

  .navigation__item h5 {
    font-size: 9px;
  }

  .content__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 850px) {
  .footer .container .textBlock__header p, .footer .container .sharedBlock__header p {
    font-size: 0.8rem;
  }
  .footer .container .textBlock__links, .footer .container .sharedBlock__links {
    font-size: 0.7rem;
  }

  #socials {
    display: none;
  }

  .underfooter {
    font-size: 12px;
  }
}
@media (max-width: 620px) {
  .nav {
    left: 0;
  }

  .navigation__item h5 {
    font-size: 6px !important;
  }

  .footer .container .textBlock__header p, .footer .container .sharedBlock__header p {
    font-size: 0.8rem;
  }
  .footer .container .textBlock__links, .footer .container .sharedBlock__links {
    font-size: 0.7rem;
  }

  .pagination__text {
    font-size: 12px;
  }

  #socials {
    display: none;
  }

  .underfooter {
    font-size: 8px;
  }

  .footer .sharedBlock {
    display: none;
  }
}
@media (max-width: 500px) {
  .nav {
    display: none;
  }

  .pagination__text {
    display: none;
  }
}
@media (max-width: 420px) {
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }

  .navigation__item:nth-child(even) {
    display: none;
  }

  .pagination__nav {
    width: 100%;
  }
  .pagination__number {
    margin-right: 5px;
  }

  .footer .textBlock {
    margin-right: 10px;
  }
}